//
   Created by oleg on 23.05.2016.
doctype html
html
    include includes/_head
    body
        .wrraper
          include includes/_header
          main
            .container-fluid
                .row
                    .col-xs-12.col-sm-3.col-md-3
                      aside
                        include includes/_sidebar
                    .col-xs-12.col-sm-9.col-md-9
                        block content
        include includes/_footer
        script(src="js/all.js")
        script(src="js/myscripts.js")
