//
   Created by oleg on 23.05.2016.
doctype html
html
    include includes/_head
    body
        include includes/_header
        block content
            block sidebar
        script(src="js/all.js")
        script(src="js/myscripts.js")
