// top menu
nav
   .row
        .col-xs-12
            .mobile-mnu.hidden-sm.hidden-md.hidden-lg
                a.toggle-mnu.hidden-lg
                    span
            ul.sf-menu
                li
                    a(href="index.html") Головна
                li
                    a(href="contact.html") Контакти
