head
  meta(http-equiv="X-UA_Compatible" content="IE=edge")
  meta(name="viewport", content="width=device-width initial-scale=1.0")
  meta(property="og:image" content="path/to/image.jpg")
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,100,500,700,300&subset=latin,cyrillic', rel='stylesheet', type='text/css')
  link(rel="stylesheet", href="style.css")
  title Bluebox.loc


