// top head
.tophead
    .container-fluid
        .row
            .col-xs-12.col-sm-12.col-md-6
                .ticker-section.clearfix
                    .ticker
                        .ticker-title
                            img(src="images/point.png" alt="bluebox")
                        #typed-strings.clearfix
                            ul
                                li.
                                    Ticker item #1 Ticker item #1 Ticker item #1 Ticker item #1
                                li.
                                    Ticker item #2 Ticker item #2 Ticker item #2 Ticker item #2
                                li.
                                    Ticker item #3 Ticker item #3 Ticker item #3 Ticker item #3
            .col-xs-12.col-sm-12.col-md-6
                .soclang_blocks.clearfix
                  .date_block
                    p.
                      Tuesday,10 December
                  .socicon_block
                    ul
                      li
                        a(href="#")
                          i.fa.fa-google-plus(aria-hidden="true")
                      li
                        a(href="#")
                          i.fa.fa-twitter(aria-hidden="true")
                      li
                        a(href="#")
                          i.fa.fa-facebook-square(aria-hidden="true")
                      li
                        a(href="#")
                          i.fa.fa-rss(aria-hidden="true")
                  .lang_block
                    i.fa.fa-flag(aria-hidden="true")
// logo&banner block.
.l_b_block
  .container-fluid
     .row
        .col-xs-12.col-sm-4.col-md-4
           .b_logo logo
        .col-xs-12.col-sm-8.col-md-8
           .b_banner
               img(src="images/banner.jpg" alt="banner")

// menu
nav
    .container-fluid
       .row
            .col-xs-12
                .mobile-mnu.hidden-sm.hidden-md.hidden-lg
                    a(href="#").toggle-mnu.hidden-lg
                        span
                ul.sf-menu
                    li
                        a.active(href="index.html")
                            i.fa.fa-home(aria-hidden="true")
                    li
                        a(href="contact.html") Business
                    li
                        a(href="contact.html") Travel
                    li
                        a(href="contact.html") People

                    li
                        a(href="contact.html") Sports
                    li
                        a(href="contact.html") Music
                    li
                        a(href="contact.html") Forum
                    li
                        a(href="contact.html") Contact
