// soc block
ul
  li
    .fa_block.twitter
      i.fa.fa-twitter(aria-hidden="true")
    .count_block.
      75200
      span.
        followers
  li
    .fa_block.facebook
      i.fa.fa-facebook(aria-hidden="true")
    .count_block.
      75200
      span.
        followers
  li
    .fa_block.rss
      i.fa.fa-rss(aria-hidden="true")
    .count_block.
      75200
      span.
        followers
