// soc block
.widget_block.clearfix
  ul
    li
      .fa_block.twitter
        i.fa.fa-twitter(aria-hidden="true")
      .count_block.
        75200
        <span>
          Followers
        </span>
    li
      .fa_block.facebook
        i.fa.fa-facebook(aria-hidden="true")
      .count_block.
        75200
        <span>
          Likes
        </span>
    li
      .fa_block.rss
        i.fa.fa-rss(aria-hidden="true")
      .count_block.
        75200
        <span>
          Subscriber
        </span>
    li
      .fa_block.rss
        i.fa.fa-rss(aria-hidden="true")
      .count_block.
        75200
        <span>
          Subscriber
        </span>

// banner_block
.widget_block.clearfix
  img(src="images/big_ads.png" alt="banner")
.widget_block.clearfix
  p.w_title.
    What's Hot
  .w_content
    ul
      li
        img(src="#" alt="img")
        .w_com.
          1
        a(href="#") A New Yorker doesn't necessarily come from...
        p.
          3 minutes ago
          <span>
          <i class="fa fa-star-o" aria-hidden="true"></i>
           9.45
          </span>
      li
        img(src="#" alt="img")
        .w_com.
          10
        a(href="#") A New Yorker doesn't necessarily come from...
        p.
          3 minutes ago
          <span>
          <i class="fa fa-star-o" aria-hidden="true"></i>
           9.45
          </span>
.widget_block.clearfix
  p.w_title.
    Football Results
  .w_content
