// colors
$bg_col:   #fff
$wht_font: #fff
$font_col: #282828
$black_bg: #1d1e20
$lightblack_bg: #252729
$lightpink_bg:  #f55a5a
$blackpink_bg: #e84a4a
$pink_bg: #fa4086
$blue_bg:  #3d7cb7
$lightblue_bg: #00b4ff
$green_bg: #52ab0a
$lightgreen_bg: #46d367
$pictionblue_bg: #36a7d6
$chambran_bg: #34466b
$yellow_bg: #f2b620
$bordr-left: #171719
$border-right: #2b2c2f
$top_header_icon: #818181
//main settings
ul,ol
  margin: 0
  padding: 0
ul li
  list-style: none
img
  max-width: 100%
  height: auto
  display: block
input
  border: none
body
  background-color: $bg_col
  font-family: 'Roboto', sans-serif
  font-size: 15px
  color: $font_col
.tophead,
nav,
footer
  background-color: $black_bg
  color: $wht_font
main
  width: 100%
  margin: 50px auto 40px
aside
  border: 1px solid red
  margin: 0 0 0 20px
.content
  margin: 0 20px 0 0
  border: 1px solid red
