// colors
$bg_col:   #fff
$black_bg: #1d1e20
$lightblack_bg: #252729
$lightpink_bg:  #f55a5a
$blackpink_bg: #e84a4a
$pink_bg: #fa4086
$blue_bg:  #3d7cb7
$lightblue_bg: #00b4ff
$green_bg: #52ab0a
$lightgreen_bg: #46d367
$pictionblue_bg: #36a7d6
$chambran_bg: #34466b
$yellow_bg: #f2b620


//main settings
ul,ol
  margin: 0
  padding: 0
body
  background-color: $bg_col
  font-family: 'Roboto', sans-serif

