aside
  li
    width: 50%
    float: left
    .fa_block
      float: left
      margin-left: 10px
    .twitter,
    .facebook,
    .rss
      width: 45px
      text-align: center
      padding: 12px 0
      margin: 10px 25px 0 0
      color: $wht_font
      float: left
    .twitter
      background-color: $twit_bg
      position: relative
      &::before
        @include rightArrow($twit_bg)
    .facebook
      background-color: $fb_bg
      position: relative
      &::before
        @include rightArrow($fb_bg)
    .rss
      background-color: $rss_bg
      position: relative
      &::before
        @include rightArrow($rss_bg)
    .count_block
      margin: 12px
      font-size: 13px
      font-weight: 400
      span
        display: block
  .sidebar_banner
    border: 1px solid
  .widget_block
    margin: 15px 0
  .w_title
      color: #fff
  .w_content
    margin: 20px 0
    li
      width: 100%
      line-height: 20px
      margin: 20px 0
      position: relative
    .w_com
      position: absolute
      background-color: $blackpink_bg
      color: $wht_font
      padding: 0 8px
      bottom: -2px
      left: -2px
      font-size: 12px
    img
      background-color: #787878
      width: 70px
      height: 70px
    a
      color: $sidebar_font_col
      font-size: 14px
      font-weight: normal
      margin: 0 10px
    p
      font-weight: 100
      font-size: 13px
      margin: 10px 0
      span
        background-color: $yellow_bg
        margin: 0 10px
        padding: 2px 8px
        color: $wht_font
